Package: node-ip-regex
Version: 3.0.0-1
Architecture: all
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Installed-Size: 17
Depends: nodejs
Section: javascript
Priority: optional
Homepage: https://github.com/sindresorhus/ip-regex#readme
Description: FIX write the Debian package description
 Write the short and long descriptions for the Debian package as
 explained in the Developer's Reference, §6.2.1 – §6.2.3.
 .
 You can start with the short upstream package description,
 “Regular expression for matching IP addresses (IPv4 & IPv6)”.
 .
 Be aware that most upstream package descriptions are not written to
 conform with Debian package guidelines. You need to explain the role
 of this package for a Debian audience.
 .
 Node.js is an event-based server-side JavaScript engine.
